*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 14px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}


/* ................................................... */

html {
	height: 100%;
}

body {
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	background-color: #003E82;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

/* Header.................................................. */

.header {
	background: #E0943BF0;
	padding: 25px 0px;
	margin-bottom: 50px;
	width: 100%;
}

.header__fixed {
	position: fixed;
	background: #E0943BF0;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	animation-name: headerFixed;
	animation-duration: 0.5s;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

@keyframes headerFixed {
	0% {
		opacity: 0;
		top: -100px;
	} 
	100% {
		opacity: 1;
		top: 0;
	} 
}



.container {
	max-width: 1200px;
	margin: 0px auto;
	height: 100%;
}
.header__content {
	display: flex;
	align-items: center;
	padding: 0px 2px;
}
.logo {
	width: 60px;
}

.header__nav {
	margin-left: 40px;
	/* margin-left: auto; */
}
.menu {
	display: flex;
	justify-content:space-between;
	max-width: 900px;
}

.menu__link {
	color: #FFFFFF;
	display: block;
	transition: all 0.5s;
}

.menu__link:hover {
	background-color: rgb(18, 110, 249);
}


.menu__link-active {
	border-radius: 0px 5px;
	background: rgba(226, 221, 221, 0.42);
	padding: 10px 10px;
}


.menu__item {
	margin: 0px 40px;
	position: relative;
}
.menu__item:last-child {
	margin-right: 0px;
}

.menu__item:not(:first-child) {
	margin-top: 10px;
}

.menu__item:hover .subMenu{
	display: block;
}

	.subMenu {
		padding-top: 7px;
		border-radius: 22px;
		position: absolute;
		left: -3%;
		top: 100%;
		display: none;
		width: 160px;
		background-color:  #df943df0;
		box-shadow: 1px -1px 3px 0px rgb(143, 143, 143);
	}

		.menu__item-subMenu {
			padding: 10px;
			cursor: pointer;
		}

		.menu__item-subMenu:hover {
			background-color: rgb(18, 110, 249);
		}

		.menu__link-sub {
			color: white;
		}

		.menu__btn {
			width: 55px;
			height: 50px;
			display: none;
			margin-left: 20px;
		}
		
		.menu__btn img {
			width: 100%;	
		}


/* end/Header.................................................. */


/* Block Move.................................................. */


.move {
	margin-top: 30px;
	padding-bottom: 290px;
}

.move-title-1 {
font-family: Montserrat;
font-size: 76px;
font-style: italic;
font-weight: 700;
line-height: 142.5%; /* 108.3px */
letter-spacing: 3.04px;
text-transform: uppercase;
color: #FDFDFD;
width: 566px;
-webkit-text-stroke-color: rgb(255, 255, 255);
-webkit-text-fill-color:  #003E82;
-webkit-text-stroke-width: 5px;
}

.move-title-2 {
font-family: Montserrat;
font-size: 73px;
font-style:normal;
font-weight: 800;
line-height: 142.5%;
letter-spacing: 3.04px;
text-transform: uppercase;
color: #FDFDFD;
width: 596px;
height: 350px;
}

.move__content {
	display: flex;
}

.move__item {

}

.move__first-photo {
	margin-right: 40px;
}

.move__first-photo img {
	border-radius: 56px;
	height: auto;
	max-width: 540px;
	width: 100%;
}

.move__second-photo {
	margin-top: 95px;
}

.move__second-photo img {
	border-radius: 70px;
	height: auto;
	max-width: 580px;
	width: 100%;
}

/* END Block Move.................................................. */

/* Block news.................................................. */

.news {
	padding-bottom: 250px;
}
.container {
}
.title-news {
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
color: #FDFDFD;
padding-bottom: 45px;
margin-right: 7px;
}
.news__content {
	display: flex;
	justify-content:center;
}
.news__items {
	flex: 0 1 33.333%;
	border: 2px solid white;
	border-radius: 7px;
	padding: 6px 7px 8px 8px;
	margin-right: 15px;
}

.news__items:last-child {
	margin-right: 0px;
}

.items-news {
}
.news__img {
	margin-bottom: 21px;
}

.news__img img {
	height: 245px;
	max-width: 370px;
	width: 100%;
}
.news-sub-title {
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 125%; /* 22.5px */
text-transform: uppercase;
color: #FDFDFD;
margin-bottom: 18px;
}

.news-sub-title-first {
	margin-bottom: 18px;
}

.news__description {
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 23.8px */
font-family: Montserrat;
margin-bottom: 8px;
color: #FDFDFD;
}

.description-news {
	width: 305px;
}

.news__more {
	margin-bottom: 8px;
}
.news__more-link {
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: 170%; /* 25.5px */
text-decoration-line: underline;
font-family: Montserrat;
color: #FDFDFD;
}

/* END Block news.................................................. */


/* Block news.................................................. */

.projects {
	padding-bottom: 200px;
	min-height: 100%;
}
.container {
}
.title-projects {
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
color: #FDFDFD;
padding-bottom: 45px;
margin-right: -5px;
}
.projects__content {
	display: flex;
	justify-content:center;
}
.projects__items {
	flex: 0 1 33.333%;
	border: 2px solid white;
	border-radius: 7px;
	padding: 6px 7px 8px 8px;
	margin-right: 15px;
}

.projects__items:last-child {
	margin-right: 0px;
}

.items-projects {
}
.projects__img {
	margin-bottom: 21px;
}

.projects__img img {
	height: 245px;
	max-width: 370px;
	width: 100%;
}
.projects-sub-title {
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 125%; /* 22.5px */
text-transform: uppercase;
color: #FDFDFD;
margin-bottom: 18px;
}

.projects-sub-title-first {
	margin-bottom: 18px;
}

.projects__description {
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 23.8px */
font-family: Montserrat;
margin-bottom: 8px;
color: #FDFDFD;
}

.description-projects {
	width: 305px;
}

.projects__more {
	margin-bottom: 8px;
}
.projects__more-link {
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: 170%; /* 25.5px */
text-decoration-line: underline;
font-family: Montserrat;
color: #FDFDFD;
}

/* END Block projects.................................................. */

/*Block footer.................................................. */

.footer {
	background-color: #171A1A;
	padding-bottom: 40px;
	/* height: 250px; */
	/* position: absolute; */
	width: 100%;
	/* margin-top: -250px; */
}

.footer__content {
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
}

.footer-logo {
	width: 60px;
	padding-top: 30px;
}

.footer__nav {
	margin-left: 160px;
	margin-top: -60px;
}
.footer-info {
	display: flex;
	justify-content:space-between;
	max-width: 900px;
}
.footer-info__item {
	flex: 0 1 33.333%;
	margin-right: 45px;
	margin-bottom: 15px;
}

.footer-info__item:last-child {
	margin-right: 0px;
}


.footer-title {
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
color: rgba(68, 85, 34, 0.45);
margin-bottom: 25px;
}

.footer-title-link {
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
color: rgba(68, 85, 34, 0.45);
margin-bottom: 25px;
}

.footer__description {
color: rgba(255, 255, 255, 0.70);
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 22.1px */
width: 240px;
}


.footer__icon {
	margin-left: auto;
	/* margin-right: 170px; */
	margin-top: -20px;
	position: sticky;
}
.footer-link-vk {
	margin-right: 30px;
}
.footer-link-rddm {
}
.footer-link-site_school {
	margin-right: 30px;
}

/*Block footer.................................................. */

/* media-запросы!.................... */

/* large 1301px - 1600px */
@media (max-width: 1600px) {
	.container {
		max-width: 1200px;
	}

	.menu__item {
		margin: 0px 35px;
		position: relative;
	}
}

/* large 1025px - 1300px */
@media (max-width: 1300px) {
	.container {
		max-width: 960px;
	}
	.menu__item {
		margin: 0px 35px;
		position: relative;
	}


}

/* Medium 769px - 1024px */
@media (max-width: 1024px) {
	.container {
		max-width: 720px;
	}

	.header {
		width: 100%;
	}

	.header__fixed {
	position: fixed;
	background: #E0943BF0;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	animation-name: headerFixed;
	animation-duration: 0.2s;
	transition-duration: 1s;
	transition-timing-function: linear;
}

@keyframes headerFixed {
	0% {
		opacity: 0;
		top: -100px;
	} 
	100% {
		opacity: 1;
		top: 0;
	} 
}

	
	.header__content {
		position: relative;
		padding: 5px 5px;
	}
	.header__nav {
		display: none;
		position: absolute;
		right: 0%;
		top: 88.5px;
		background:  #ea902bf0;
		border: 1px solid #65635d;
		border-radius: 16px;
		padding: 17px;
		margin: 0px;
	}

	.header__nav.header__nav-active {
		display: block;
	}

	.menu__btn {
		display: block;
		margin-left: auto;
	}
	
	.menu {
		flex-direction: row;
		width: auto;
		/* text-align: center; */
	}
	.menu__item {
		margin-bottom: 10px;
	}
	.menu__item:last-of-type {
		margin-bottom: 0px;
	}

	.subMenu {

		padding-top: 7px;
		border-radius: 14px;
		position: absolute;

		top: 35%;
		right: -40%;
		display: none;
		max-width: 160px;
		background-color:  #ea902bf0;
		box-shadow: 1px -1px 3px 0px rgb(143, 143, 143);
		margin-left: -35px;
		margin-top: 40px;
		overflow-y: scroll;
		height: 80px;
	}

	.menu__item {
		margin: 0px 20px;
		position: relative;
	}

	.menu__item:active .subMenu{
		display: block;
	}

	/* Block Move................ */

	.move {
		margin-top: 5px;
		padding-bottom: 210px;
	}
	
	.move-title-1 {
	font-size: 68px;
	max-width: 566px;
	}
	
	.move-title-2 {
	font-size: 65px;
	max-width: 596px;
	height: 300px;
	}
	
	.move__content {
		display: flex;
	}
	
	.move__item {
	}
	
	.move__first-photo {
		margin-right: 35px;
	}
	
	.move__first-photo img {
		border-radius: 56px;
		height: auto;
		max-width: 540px;
		width: 100%;
	}
	
	.move__second-photo {
		margin-top: 70px;
	}
	
	.move__second-photo img {
		border-radius: 70px;
		height: auto;
		max-width: 580px;
		width: 100%;
	}

	/* Block news.................................................. */

.news {
	padding-bottom: 120px;
}
.container {
}
.title-news {
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
color: #FDFDFD;
padding-bottom: 45px;
margin-right: 7px;
}
.news__content {
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
}
.news__items {
	flex: 0 1 50%;
	border: 2px solid white;
	border-radius: 7px;
	padding: 6px 4px 8px 5px;
	margin-right: 4px;
	margin-bottom: 58px;
}

.news__items:last-child {
	margin-right: 0px;
}

/* Block project */

.projects {
	padding-bottom: 150px;
}
.container {
}
.title-projects {
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
color: #FDFDFD;
padding-bottom: 45px;
margin-right: 7px;
}
.projects__content {
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
}
.projects__items {
	flex: 0 1 50%;
	border: 2px solid white;
	border-radius: 7px;
	padding: 6px 4px 8px 5px;
	margin-right: 4px;
	margin-bottom: 60px;
}

.projects__items:last-child {
	margin-right: 0px;
}

/* block footer............................. */

	.footer {
		background-color: #171A1A;
		padding-bottom: 40px;
		/* height: 250px; */
		/* position: absolute; */
		width: 100%;
		/* margin-top: -250px; */
	}
	
	.footer__content {
		display: flex;
		flex-direction: column;
		padding: 0px 10px;
	}
	
	.footer-logo {
		width: 50px;
		padding-top: 30px;
	}
	
	.footer__nav {
		margin-left: 100px;
		margin-top: -60px;
	}
	.footer-info {
		display: flex;
		justify-content:space-between;
		max-width: 900px;
	}
	.footer-info__item {
		flex: 0 1 33.333%;
		margin-right: 35px;
		margin-bottom: 15px;
	}
	
	.footer-info__item:last-child {
		margin-right: 0px;
	}
	
	
	.footer-title {
	font-size: 18px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	color: rgba(68, 85, 34, 0.45);
	margin-bottom: 25px;
	}

	.footer__description {
		color: rgba(255, 255, 255, 0.70);
		font-family: Montserrat;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 170%; /* 22.1px */
		max-width: 170px;
		}
	
	
	.footer__icon {
		margin-left: auto;
		/* margin-right: 170px; */
		margin-top: -20px;
		position: sticky;
	}
	.footer-link-vk {
		margin-right: 20px;
	}
	.footer-link-rddm {
	}
	.footer-link-site_school {
		margin-right: 20px;
	}
	
	/*Block footer.................................................. */
	
	

}

/* Small 577px - 768px */
@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}

	.header {
		margin-bottom: 30px;
		width: 100%;
	}

	.header__content {
		position: relative;
		padding: 0px 5px;
	}

	.menu__item {
		margin: 0px 5.5px;
		position: relative;
	}

	.menu__link-active {
		border-radius: 0px 0px;
		/* background:none; */
		padding: 10px 5px;
		
	background: rgba(226, 221, 221, 0.42);
	}

	.subMenu {
		padding-top: 0px;
		border-radius: 10px;
		position: absolute;
		top: 35%;
		right: -40%;
		display: none;
		max-width: 122px;
		background-color:  #ea902bf0;
		box-shadow: 1px -1px 3px 0px rgb(143, 143, 143);
		margin-left: -22px;
		margin-top: 40px;
		text-align: center;
	}

	.menu__item-subMenu {
		padding: 5px 5px;
		cursor: pointer;
	}

	.header__nav {
		top: 78.5px;
	}

	.menu__item:active .subMenu{
		display: block;
	}

		/* Block Move................ */

		.move {
			margin-top: 20px;
			padding-bottom: 170px;
		}
		
		.move-title-1 {
		font-size: 60px;
		max-width: 490px;
		}
		
		.move-title-2 {
		font-size: 56px;
		max-width: 480px;
		height: 270px;
		margin-bottom: 50px;
		}
		
		.move__content {
			display: flex;
		}
		
		.move__item {
		}
		
		.move__first-photo {
			margin-right: 25px;
		}
		
		.move__first-photo img {
			border-radius: 56px;
			height: auto;
			max-width: 540px;
			width: 100%;
		}
		
		.move__second-photo {
			margin-top: 50px;
		}
		
		.move__second-photo img {
			border-radius: 70px;
			height: auto;
			max-width: 580px;
			width: 100%;
		}
/* block news....................... */

		.news {
			padding-bottom: 120px;
		}

		/* block projects....................... */

		.projects {
			padding-bottom: 120px;
		}


		/* block footer............................. */

	.footer {
		background-color: #171A1A;
		padding-bottom: 40px;
		/* height: 250px; */
		/* position: absolute; */
		width: 100%;
		/* margin-top: -250px; */
	}
	
	.footer__content {
		display: flex;
		flex-direction: column;
		padding: 0px 5px;
	}
	
	.footer-logo {
		/* max-width: 20px; */
		/* padding-top: 50px; */
	}

	.footer-logo img {
		max-width: 60px;
	}
	
	.footer__nav {
		margin-left: 60px;
		margin-top: -30px;
	}
	.footer-info {
		display: flex;
		justify-content:space-between;
		max-width: 200px;
		flex-wrap: wrap;
	}
	.footer-info__item {
		flex: 0 1 50%;
		margin-right: 0px;
		margin-bottom: 40px;
		margin-left: 100px;
	}

	.footer-info__item:nth-child(2) {
		flex: 0 1 33.333%;
		margin-right: 25px;
	}
	
	.footer-info__item:last-child {
		margin-right: 0px;
	}
	
	
	.footer-title {
	font-size: 13px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	color: rgba(68, 85, 34, 0.45);
	margin-bottom: 20px;
	}

	.footer-title-third {
		font-size: 13px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		text-transform: uppercase;
		color: rgba(68, 85, 34, 0.45);
		margin-bottom: 3px;
	}


	.footer__description {
		color: rgba(255, 255, 255, 0.70);
		font-family: Montserrat;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 22.1px */
		max-width: 200px;
		}

		.footer__description-first {
			max-width: 200px;
			margin-right: 35px;
		}
	
	
	.footer__icon {
		margin-left: auto;
		margin-right: 90px;
		margin-top: -15px;
		position: sticky;

	}
	.footer-link-vk {
		margin-right: 50px;
	}
	.footer-link-rddm {
		margin-right: 50px;
	}
	.footer-link-site_school {
		margin-right: 50px;
	}
	
	/*Block footer.................................................. */
	
	

}

/* the smallest 320px - 576px */
@media (max-width: 576px) {

	/* HEADER !!!!!!!!!!!!!!!!! */

	.wrapper {
		
	}

	.container {
		width: 100%;
		padding: 5px 5px;
	}

	.header {
		margin-bottom: 5px;
		width: 100%;
	}

	.header__content {
		position: relative;
		padding: 5px 0px;
	}

	.header__nav {
		top: 88.5px;
	}

	.menu {
		flex-direction: column;
		/* max-width: 120px; */
		text-align: center;
	}

	.menu__item {
		margin-bottom: 5px;
		position: relative;
	}

	.menu__item:not(:first-child) {
		margin-top: 1px;
	}

		.subMenu {
		border-radius: 18px;
		position: absolute;
		display: none;
		left: -63%;
		top: -291%;

		/* max-width: 120px; */
		background-color:  #ea902bf0;
		box-shadow: 1px -1px 3px 0px rgb(143, 143, 143);
		text-align: center;
	}

	.menu__item-subMenu {
		padding: 4px 4px;
		cursor: pointer;
	}

	.menu__link-active {
		border-radius: 0px 0px;
		background:none;
		padding: 0px 0px;
		background: #f2be82f0;
		
	}

	.menu__item:active .subMenu{
		display: block;
	}

	/* END HEADER MEDIA........................... */


	.move {
		margin-top: -30px;
		padding-bottom: 100px;
	}
	
	.move-title-1 {
	font-size: 44px;
	max-width: 280px;
	}
	
	.move-title-2 {
	font-size: 32px;
	max-width: 280px;
	height: 115px;
	}
	
	.move__content {
		display: flex;
	}
	
	.move__item {
	}
	
	.move__first-photo {
		margin-right: 15px;
	}
	
	.move__first-photo img {
		border-radius: 56px;
		height: auto;
		max-width: 540px;
		width: 100%;
	}
	
	.move__second-photo {
		margin-top: 25px;
	}
	
	.move__second-photo img {
		border-radius: 70px;
		height: auto;
		max-width: 580px;
		width: 100%;
	}

	/* Block news.................................................. */

.news {
	padding-bottom: 60px;
}
.container {
}
.title-news {
font-family: Montserrat;
font-size: 20px;

}
.news__content {
	display: flex;
	justify-content:center;
}
.news__items {
	flex: 0 1 33.333%;
	border: 2px solid white;
	border-radius: 7px;
	padding: 0px 0px 0px 3px;
	margin-right: 0px;
}

.news__items:last-child {
	margin-right: 0px;
}

.items-news {
}
.news__img {
	margin-bottom: 21px;
}

.news__img img {
	height: 245px;
	max-width: 300px;
	width: 100%;
}
.news-sub-title {
font-family: Montserrat;
font-size: 14px;
}

.news-sub-title-first {
	margin-bottom: 18px;
}

.news__description {
font-size: 12px;
}

.description-news {
	width: 270px;
}

.news__more {
	margin-bottom: 8px;
}
.news__more-link {
font-size: 13px;

}

/* END Block news.................................................. */


	/* Block projects.................................................. */

.projects {
	padding-bottom: 60px;
}
.container {
}
.title-projects  {
font-family: Montserrat;
font-size: 20px;

}
.projects__content {
	display: flex;
	justify-content:center;
}
.projects__items {
	flex: 0 1 33.333%;
	border: 2px solid white;
	border-radius: 7px;
	padding: 0px 0px 0px 3px;
	margin-right: 0px;
}

.projects__items:last-child {
	margin-right: 0px;
}

.items-projects  {
}
.projects__img {
	margin-bottom: 21px;
}

.projects__img img {
	height: 245px;
	max-width: 300px;
	width: 100%;
}
.projects-sub-title {
font-family: Montserrat;
font-size: 14px;
}

.projects-sub-title-first {
	margin-bottom: 18px;
}

.projects__description {
font-size: 12px;
}

.description-projects {
	width: 270px;
}

.projects__more {
	margin-bottom: 8px;
}
.projects__more-link {
font-size: 13px;

}

/* END Block project.................................................. */



		/* block footer............................. */

		.footer {
			background-color: #171A1A;
			padding-bottom: 40px;
			/* height: 250px; */
			/* position: absolute; */
			width: 100%;
			/* margin-top: -250px; */
		}
		
		.footer__content {
			display: flex;
			flex-direction: column;
			padding: 0px 5px;
		}
		
		.footer-logo {
			/* max-width: 20px; */
			/* padding-top: 50px; */
		}
	
		.footer-logo img {
			max-width: 60px;
		}
		
		.footer__nav {
			margin-left: 60px;
			margin-top: -30px;
		}
		.footer-info {
			display: flex;
			justify-content:space-between;
			max-width: 120px;
			flex-wrap: wrap;
		}
		.footer-info__item {
			flex: 0 1 50%;
			margin-right: 0px;
			margin-bottom: 40px;
			margin-left: 80px;
		}
	
		.footer-info__item:nth-child(2) {
			flex: 0 1 33.333%;
			margin-right: 25px;
		}
		
		.footer-info__item:last-child {
			margin-right: 0px;
		}
		
		
		.footer-title {
		font-size: 13px;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		text-transform: uppercase;
		color: rgba(68, 85, 34, 0.45);
		margin-bottom: 20px;
		}
	
		.footer-title-third {
			font-size: 13px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			text-transform: uppercase;
			color: rgba(68, 85, 34, 0.45);
			margin-bottom: 3px;
		}
	
	
		.footer__description {
			color: rgba(255, 255, 255, 0.70);
			font-family: Montserrat;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%; /* 22.1px */
			max-width: 120px;
			}
	
			.footer__description-first {
				max-width: 120px;
				margin-right: 35px;
			}

			.footer-title-third {
				margin-bottom: 15px;
			}
		
		
		.footer__icon {
			margin-left: auto;
			margin-right: 60px;
			margin-top: -15px;
			position: sticky;
	
		}
		.footer-link-vk {
			margin-right: 15px;
		}
		.footer-link-rddm {
			margin-right: 25px;
		}
		.footer-link-site_school {
			margin-right: 15px;
		}


		
		/* END Block footer.................................................. */
		

}

/* the smallest 320px - 576px */
@media (max-width: 320px) {

	.container {
		width: 100%;
		padding: 5px 0px;
	}

	.footer__icon {
		margin-left: auto;
		margin-right: 10px;
		margin-top: -10px;
		position: sticky;

	}

	/* .footer-link-rddm {
		margin-right: 15px;
	}
	.footer-link-site_school {
		margin-right: 15px;
	}

	.footer-link-vk {
		margin-right: 5px;
	} */

	.footer__description {
		color: rgba(255, 255, 255, 0.70);
		font-family: Montserrat;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 22.1px */
		max-width: 100px;
		}

		.footer__description-first {
			max-width: 100px;
			margin-right: 0px;
		}

		.footer {
			background-color: #171A1A;
			padding-bottom: 40px;
			/* height: 250px; */
			/* position: absolute; */
			width: 100%;
			/* margin-top: -250px; */
		}
		
		.footer__content {
			display: flex;
			flex-direction: column;
			padding: 0px 0px;
		}
		
		.footer-logo {
			/* max-width: 20px; */
			/* padding-top: 50px; */
			margin-left: 7px;
		}
	
		.footer-logo img {
			max-width: 50px;
		}
		
		.footer__nav {
			margin-left: 30px;
			margin-top: -30px;
		}
		.footer-info {
			display: flex;
			justify-content:space-between;
			max-width: 120px;
			flex-wrap: wrap;
		}
		.footer-info__item {
			flex: 0 1 50%;
			margin-right: 0px;
			margin-bottom: 40px;
			margin-left: 80px;
		}
	
		.footer-info__item:nth-child(2) {
			flex: 0 1 33.333%;
			margin-right: 15px;
		}
		
		.footer-info__item:last-child {
			margin-right: 0px;
		}

		.footer__description {
			color: rgba(255, 255, 255, 0.70);
			font-family: Montserrat;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%; /* 22.1px */
			max-width: 110px;
			}
	
			.footer__description-first {
				max-width: 110px;
				margin-right: 20px;
			}
}